@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
.bg-email {
  background: #654ea3;
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  );
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); 
  text-align: center;
  height: 100vh;
}
.notification {
  font-family: "Lobster", cursive;
  font-size: large;
  text-align: center;
}
.task {
  font-family: "Nunito", sans-serif;
  margin-left: 5%;
}

.card {
  height: 300px;
  background: white;
  border-radius: 0.25rem;
  width: 70%;
  display: inline-block;
}
